.footer {
    color: rgb(123, 120, 116);
    text-align: center;
    font-size: 16px;
    font-family: 'Prompt Regular';
    font-weight: 700;
    background: #323030;    
    animation: appear 1s ease-in;
    padding: 1px;
}